* {
    font: "Noto Sans Mono 12";
}

window {
    background-color: #323031;
    padding: 8px;
}

inputbar {
    background-color: #3D3B3C;
    text-color: #C1BDB3;
    padding: 6px;
}

prompt {
    text-color: #C1BDB3;
}

entry {
    text-color: #C1BDB3;
}

listview {
    background-color: #323031;
    spacing: 2px;
}

element {
    background-color: #323031;
    text-color: #7F7979;
    padding: 6px;
}

element selected {
    background-color: #5F5B6B;
    text-color: #C1BDB3;
}

